<main>
  <div class="flex flex-row">
    @for (item of items; track $index) {
      <div class="grow border relative">
        <img [src]="item?.svgURL"/>
        @if($index === 3) {
          <img [src]="triangleURL" class="z-10 absolute top-1/4 left-1/4"/>
        } @else if($index === 1) {
          <img [src]="triangleURL" class="z-10 absolute top-1/4 left-0 -translate-x-1/2"/>
        } @else if($index === 8) {
          <img [src]="triangleURL" class="z-10 absolute top-1/4 right-0 translate-x-1/2"/>
        }
        <div class="flex justify-center border">
          {{ $index }}
        </div>
      </div>
    }
  </div>
  <router-outlet />
</main>
